.user_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.amount {
  font-size: 20px;
}

.username {
  font-size: 20px;
}

.deleteBtn {
  color: red;
  padding: 8px;
}

.userLink {
  color: #333;
}
