.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #00ffb2;
  padding: 20px 24px;
}

.headerTitle {
  font-size: 28px;
  font-weight: 600;
}

.hamburger_toggler span {
  display: block;
  width: 32px;
  height: 4px;
  margin-bottom: 4px;
  position: relative;
  background: #fff;
  border-radius: 3px;
}

.optionsMenu {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 9999;
  background: #fff;
  height: 400px;
  max-height: 100vh;
  width: 280px;
  max-width: 100vw;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 0 7px;
  box-shadow: -2px 2px 3px rgba(25, 25, 25, 0.3);
  transition: all 0.5s;
}

.optionsMenu a {
  color: #333;
}

.menuOptionItem {
  padding: 16px;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}
